@use "../../assets/styles/mixins.scss";
@use "../../assets/styles/colors.scss";

.home {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  @include mixins.centered-horizontal-column();

  h1 {
    font-family: Karla;
    color: colors.$dark-blue;
    font-size: 3.5rem;
  }

  h2 {
    margin: 2vh 0 5vh;
    font-size: 1.6rem;
    font-family: Inter;
    color: colors.$dark-blue;
  }
}